{% extends 'base.html' %}
{% load widget_tweaks %}
{% load l10n %}

{% block conteudo %}

    <div class="status">
        <div class="relatorio">
            <i class="fa-solid fa-envelope-open"></i>
            <div class="relatorio-content">
                <h1>{{ nempenhos }}</h1>
                <p>Pedidos cadastrados</p>
            </div>
        </div>
        <div class="relatorio">
            <i class="fa-solid fa-money-bill-wave"></i>
            <div class="relatorio-content">
                <h1>R$ {{ valor }}</h1>
                <p>Valor total dos pedidos</p>
            </div>
        </div>
    </div>

{% endblock %}