{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block conteudo %}

    <div class="img-top mt-5" style="width: 200px;">
      <img src="{% static 'img/Dicapel_logo_VERMELHA.png'%}" alt="logo" style="width: 200px;">
    </div>

    <div class="container center mt-5">
        <div class="card card-primary card-formulario">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    Cadastrar Pedido
                </h5>
            </div>            
            <form action="{% if cliente %}/cliente/update/{{cliente.id}}/{% else %}/cliente/create/{% endif %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                  <div class="input-group col-12 p-15 my-2">
                    <div class="input-group col-12 p-0 mb-2">
                      {% render_field form.numero name="numero" type="name" placeholder="Nº NF" autocomplete="off"%}
                    </div>
                    <div class="input-group col-12 p-0">
                      {% render_field form.nome name="nome" id="nome" type="name" placeholder="Nome do cliente" autocomplete="off"%}
                    </div>
                  </div>
                  <div class="input-group col-12 mb-2 p-15">
                    <div class="input-group col-12 p-0 mb-2" >
                      {% render_field form.cnpj type="text" onblur="checkCnpj(this.value)" id="cpfcnpj" placeholder="CNPJ" autocomplete="off"%}
                    </div>
                    <div class="input-group col-12 p-0">
                      {% render_field form.empresa name="empresa" id="empresa" placeholder="Empresa" autocomplete="off"%}
                    </div>
                  </div>
                  <div class="input-group col-12 p-0">
                    <div class="input-group col-12 p-15 mb-2" >
                      <span class="input-group-text valor" id="span-valor">R$</span>
                      {% render_field form.valor name="valor" type="text" id="valor" placeholder="Valor da NF" autocomplete="off"%}
                    </div>
                  </div>
                  <div class="input-group col-12 p-0">
                  </div>
                  <div class="input-group col-12 p-15 mb-2" >
                    {% render_field form.descricao rows="3" style="resize:none;" placeholder="Observações..." type="text" autocomplete="off"%}
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                      </div>
                    </div>
                  </div>
                  
                  {% if cliente.comprovante_entrega %}
                    <div class="input-group col-12 p-15 mb-2 d-flex justify-content-between">
                      <input type="text" name="comprovante_entrega_nome" value="{{ cliente.comprovante_entrega }}" placeholder="{{ cliente.comprovante_entrega }}" class="form-control col-4" disabled style="background-color: transparent;">
                      <input type="file" name="comprovante_entrega" class="form-control col-7">
                    </div>
                  {% else %}
                      {% render_field form.comprovante_entrega name="comprovante_entrega" class="d-none" %}
                  {% endif %}
              
                  {% render_field form.data_criacao name="data_criacao" class="d-none" %}

                <div class="row">
                    <div class="col-5 mb-2 ml-3">
                      <a class="btn btn-danger btn-block" href="{{ request.META.HTTP_REFERER }}">Cancelar</a>
                    </div>
                    <div class="col-6 m-0">
                      <button type="submit" class="btn btn-success btn-block" id="submit_button" >Cadastrar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>

<script>
$('#cpfcnpj').mask('00.000.000/0000-00');

$('#valor').mask('000.000.000.000.000,00', {reverse: true});

function checkCnpj(cnpj) {
    $.ajax({
        'url': 'https://www.receitaws.com.br/v1/cnpj/' + cnpj.replace(/[^\d]+/g,''),
        'type': 'GET',
        'dataType': 'jsonp',
        'success': function(dado){
            if(dado.nome == undefined){
                alert(dado.status + '' + dado.message)
            } else {
                document.getElementById('nome').value = dado.nome
            }
        }
    })
}

</script>

{% endblock %}
